fastapi
sqlalchemy
pydantic
pydantic-settings
uvicorn
alembic
psycopg2-binary
werkzeug
python-dotenv
passlib
python-jose
pydantic[email]
passlib[bcrypt]
jose
email-validator
python-multipart
pytest
httpx
